venv/
data/
data_processing/face/tests/test_files/cropped
data_processing/face/tests/test_files/images
data_processing/face/tests/test_files/separate_images
**/__pycache__
**/*.egg-info
*.weights
*.pkl
